<head>
    <style>
        .font{
            font-family: Arial, Helvetica, sans-serif;
            
        }
        h1{
            color: rgba(29, 29, 122, 0.836);
            text-align: center;               
        }

        h2{
            color: rgba(29, 29, 122, 0.836);
            margin-left: 40%;
        }
        .button1{
            background-color: rgb(179, 179, 179);
            border: none;
            color: green;
            padding: 5px;
            text-align: center;
            font-size: 20px;
            margin: 5px;
            cursor: pointer;
            margin-left: 40%;
            border-radius: 5px;
        }
        .button2{
            background-color: rgb(179, 179, 179);
            border: none;
            color: green;
            padding: 5px;
            text-align: center;
            font-size: 20px;
            margin: 5px;
            cursor: pointer;
            margin-left: 8px;
            border-radius: 5px;
        }
        th, td{
            border: 1px solid rgb(177, 173, 173);
        }
        .tabel{
            margin-left: 40%;
            margin-top: 15px;
        }

    </style>

</head>
<body>   
<div class='font'>
<h1>IT Academy</h1>

<h2>Panier</h2>

<a href='/flogin' class="button1">Finaliser l'inscription</a>
<a href='/home' class="button2">Retourner au catalogue de formation</a>

<div class='tabel'>
    <table >
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Début</th>
            <th>Fin</th>
        <th> </th>
        </tr>
        <tr>
            <td>1</td>
            <td>JAVA</td>
            <td>200</td>
            <td>06-12-2021</td>
            <td>07-12-2021</td>
            <td><a hre='/user/del'>Supprimer</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>HTML CSS</td>
            <td>150</td>
            <td>19-12-2021</td>
            <td>20-12-2021</td>
            <td><a hre='/user/del'>Supprimer</a></td>
        </tr>

    </table>
    </div>
</div>
</body>