    
<head>
    <style>
        h1{
            color: rgba(29, 29, 122, 0.836);
            text-align: center;
        }
        h2{
            color: rgba(29, 29, 122, 0.836);
            margin-left: 40%;
            }
        .fo{
            margin-left: 40%;
            }

    </style>

</head>

<body> 
    <h1>IT Academy</h1>
    <h2>Commencez par vous connecter</h2>
    <h2>Entrer votre pseudo</h2>

    <div class="fo">
    <form action="/user/new" methode="POST">
        <input type="text" id='pseudo' name="pseudo">
        <input type='submit' value='Enregistrer'>
    </form>
    </div>
</body>