    <head>
        <style>
            .font{
                font-family: Arial, Helvetica, sans-serif;
                
            }
            h1{
                color: rgba(29, 29, 122, 0.836);
                text-align: center;               
            }

            h2{
                color: rgba(29, 29, 122, 0.836);
                margin-left: 40%;
            }
            .button1{
                background-color: rgb(179, 179, 179);
                border: none;
                color: green;
                padding: 5px;
                text-align: center;
                font-size: 20px;
                margin: 5px;
                cursor: pointer;
                margin-left: 40%;
                border-radius: 5px;
            }
            .button2{
                background-color: rgb(179, 179, 179);
                border: none;
                color: green;
                padding: 5px;
                text-align: center;
                font-size: 20px;
                margin: 5px;
                cursor: pointer;
                margin-left: 8px;
                border-radius: 5px;
            }
            th, td{
                border: 1px solid rgb(177, 173, 173);
            }
            .tabel{
                margin-left: 40%;
                margin-top: 15px;
            }
    
        </style>

    </head>
<body>   
    <div class='font'>
    <h1>IT Academy</h1>

    <h2>Formations disponibles</h2>

    <a href='/basket' class="button1">Voir le panier</a>
    <a href='/login' class="button2">Se connecter</a>


    <div class = 'tabel'>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
            <tr>
                <th>JAVA</th>
                <th>200</th>
                <th>06-12-2021</th>
                <th>07-12-2021</th>
                <th>S'inscrire</th>
            </tr>
            <tr>
                <th>HTML CSS</th>
                <th>150</th>
                <th>19-12-2021</th>
                <th>20-12-2021</th>
                <th>S'inscrire</th>
            </tr>
            <tr>
                <th>Node Js</th>
                <th>250</th>
                <th>09-01-2022</th>
                <th>11-01-2022</th>
                <th>S'inscrire</th>
            </tr>
        </table>
    </div> 
    </div> 
 
</div>
</body>